*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_bar{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
    z-index: 1;
}
.user{
    display: flex;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}
.user .user_image{
    display: flex;
    position: relative;
    width: 32px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.content{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.content .module {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    box-shadow: 0px 0px 3px rgba(0,0,0);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.content .module a{
    display: flex;
    position: relative;
    margin: 5px;
    padding: 5px;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}
.content .module a:hover{
    color: rgb(105, 180, 255);
}