<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <caching>
            <profiles>
                <add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".css" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
